.contacts__table {
  margin-bottom: 10px;
}

.contacts-table__cell {
  padding-bottom: 32px;
  vertical-align: top;
}

.contacts-table__cell--left-padding {
  padding-left: 25px;
  width: 100px;
  line-height: 27px;
}

.contacts-table__emalil-link {
  color: #444444;
  text-decoration: none;
  border-bottom: 1px solid #89dccc;
}


@media (min-width: $tablet-width) {
  .contacts-table__cell--left-padding {
    padding-left: 25px;
    width: 220px;
    line-height: 27px;
  }

  .contacts tbody {
    width: 665px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .contacts-table {
    margin-bottom: 28px;
  }

  .contacts-table tr:nth-child(1) {
    padding-right: 55px;
  }
}

@media (min-width: $desktop-width) {
  .contacts tbody {
    width: 340px;
    margin-left: 170px;
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__table:last-child {
    margin-bottom: 100px;
  }

  .contacts-table__cell {
    padding-bottom: 30px;
  }
}
