.features-list__item {
  margin-top: 85px;
  position: relative;
  line-height: 19px;
  box-sizing: border-box;
}

.features-list__item--eco-icon,
.features-list__item--price-icon,
.features-list__item--like-icon,
.features-list__item--hand-icon,
.features-list__item--support-icon,
.features-list__item--box-icon {
  position: absolute;
  top: -135px;
}

@media (min-width: $tablet-width) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .features-list__item--eco-icon,
  .features-list__item--price-icon,
  .features-list__item--like-icon,
  .features-list__item--hand-icon,
  .features-list__item--support-icon,
  .features-list__item--box-icon {
    position: absolute;
    top: -160px;
  }

  .features-list__item {
    margin-top: 110px;
    font-size: 20px;
    line-height: 22px;
    width: 330px;
  }

  .about-us__feature-list li:nth-child(1) {
    order: 1;
  }

  .about-us__feature-list li:nth-child(2) {
    order: 3;
  }

  .about-us__feature-list li:nth-child(3) {
    order: 5;
  }

  .about-us__feature-list li:nth-child(4) {
    order: 2;
  }

  .about-us__feature-list li:nth-child(5) {
    order: 4;
  }

  .about-us__feature-list li:nth-child(6) {
    order: 5;
  }
}

@media (min-width: $desktop-width) {
  .features-list__item {
    width: 300px;
    margin-right: 20px;
  }

  .features-list__item--eco-icon,
  .features-list__item--price-icon,
  .features-list__item--like-icon,
  .features-list__item--hand-icon,
  .features-list__item--support-icon,
  .features-list__item--box-icon {
    position: absolute;
    top: -165px;
  }
}
