.features-list__item {
  margin-top: 85px;
  position: relative;
  line-height: 24px;
}

.features-list__item--eco-icon,
.features-list__item--price-icon,
.features-list__item--like-icon,
.features-list__item--hand-icon,
.features-list__item--support-icon,
.features-list__item--box-icon {
  position: absolute;
  top: -130px;
}

@media (min-width: $tablet-width) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .features-list__item {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .features-list__item {
    width: 250px;
  }
}
