.footer-logo {
  display: none;
}

.footer-logo svg {
  width: 101px;
  height: 34px;
}

//планшетная версия
@media (min-width: $tablet-width) {
  .footer-logo {
    display: block;
    width: 160px;
  }
}
