.footer {
  display: flex;
  width: 320px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__social {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 80px;
  align-items: center;
}

.footer__created {
  list-style: none;
  display: flex;
  height: 80px;
  width: 180px;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e0e0e0;
}

.footer__created svg {
  vertical-align: middle;
  fill: #63d1bb;
  opacity: 0.6;
}

.footer__created-text {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

a.footer__created-text {
  text-decoration: none;
}

.footer__created-logo {
  margin: 0;
  padding: 0;
}

.footer__created-logo svg {
  width: 27px;
  height: 34px;
}

//планшетная версия
@media (min-width: $tablet-width) {
  .footer {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    height: 143px;
  }

  .footer__created {
    width: 160px;
    border-top: none;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    width: 1150px;
    height: 143px;
  }
}
