.footer-wrapper {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 30px;
  padding-top: 0;
  padding-bottom: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
  background-color: #f1f1f1;
  border-top: 1px solid #ececec;
}


@media (min-width: $tablet-width) {
  .footer-wrapper {
    padding-right: 26px;
    padding-left: 60px;
  }
}
