.next-back__back-button {
  height: 52px;
  width: 50%;
  border: 1px solid #ececec;
  margin-bottom: 38px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.next-back__next-button {
  height: 52px;
  width: 50%;
  box-sizing: border-box;
  border: 1px solid #ececec;
  border-left: none;
  background-color: white;
  margin-bottom: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.next-back__back-button svg {
  width: 50px;
  height: 26px;
}

.next-back__next-button svg {
  width: 50px;
  height: 26px;
  transform: rotate(180deg);
}

// Планшетная версия
@media (min-width: $tablet-width) {
  .next-back__back-button,
  .next-back__next-button {
    background-color: transparent;
    border: none;
  }
}
