.reviews {
  display: flex;
  width: 320px;
  justify-content: center;
  margin: auto;
  padding-bottom: 0;
  padding-top: 0;
  flex-wrap: wrap;
}

.reviews__wrapper {
  width: 320px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}

.reviews__item {
  margin: 0;
  padding: 0;
}

.reviews__title {
  margin: 0;
  margin-bottom: 22px;
}

.reviews__text {
  line-height: 30px;
  margin: 0;
  margin-bottom: 26px;
}

.reviews__author-name {
  display: block;
  font-style: normal;
  font-weight: 700;
  color: black;
  margin-bottom: 8px;
  // padding-right: 200px;
}

.reviews__author-insta {
  font-style: normal;
}

.reviews__next-back {
  display: flex;
  margin-top: 31px;
}

.reviews__button {
  margin: 0;
  margin-bottom: 10px;
}

// Планшетная версия
@media (min-width: $tablet-width) {
  .reviews {
    width: 768px;
    background:
      url("../img/review@1x.jpg"),
      url("../img/webp/review@1x.webp");
    background-repeat: no-repeat;
    background-size: 350px 457px;
    background-position: left top;
    position: relative;
    padding-top: 85px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background:
        url("../img/review@2x.jpg"),
        url("../img/review@2x.webp");
      background-repeat: no-repeat;
      background-size: 350px 457px;
      background-position: left top;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background:
        url("../img/review@2x.jpg"),
        url("../img/review@2x.webp");
      background-repeat: no-repeat;
      background-size: 350px 457px;
      background-position: left top;
    }
  }

  .reviews__wrapper {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
  }

  .reviews__item {
    min-height: 297px;
  }

  .reviews__next-back {
    position: absolute;
    width: 175px;
    top: 0;
    right: 0;
    margin-top: 0;
  }

  .reviews__title {
    font-size: 43px;
    width: 70%;
    margin-bottom: 62px;
  }

  .reviews__author {
    font-size: 18px;
    position: relative;
    display: block;
  }

  .reviews__text {
    margin-bottom: 57px;
  }

  .reviews__button {
    position: absolute;
    top: 78px;
    right: 50px;
    width: 175px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 1150px;
    background-position: 50px top;
  }

  .reviews__wrapper {
    width: 1150px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
  }

  .reviews__title {
    font-size: 53px;
    padding-left: 177px;
  }

  .reviews__item {
    margin-left: 177px;
  }

  .reviews__text {
    margin-bottom: 37px;
  }
}
