.menu-search-cart {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

@media (min-width: $tablet-width) {
  .menu-search-cart {
    width: 245px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .menu-search-cart {
    display: flex;
    justify-content: flex-end;
    width: 400px;
    order: 3;
  }
}
