.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ececec;
  min-height: 79px;
}

.menu__logo-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

ul.menu-none {
  display: none;
}

.menu__toggle {
  width: 79px;
  height: 79px;
  // background-color: transparent;
  border: transparent;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.menu__checkbox {
  display: flex;
  width: 79px;
  height: 79px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.menu__checkbox::before {
  content: "";
  background-image: url("../img/icon-menu-open.svg");
  width: 19px;
  height: 14px;
  transition: all 0.1s ease-out;
}

.menu__toggle:checked ~ .menu-none {
  display: block;
}

.menu__toggle:checked ~ .menu__checkbox::before {
  background-image: url("../img/icon-menu-close.svg");
  width: 21px;
  height: 21px;
}

.menu__delivery {
  display: none;
}

@media (min-width: $tablet-width) {
  .menu {
    height: 79px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100px;
    border-bottom: none;
  }

  .menu__checkbox {
    display: none;
  }

  .menu__delivery {
    display: block;
    order: 4;
    font-size: 14px;
  }

  ul.menu-none {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .menu {
    width: 150px;
    order: 2;
  }

  .menu__logo-image {
    width: 149px;
    height: 72px;
  }

  .menu__delivery {
    display: block;
    font-size: 15px;
    padding-top: 0;
    padding-bottom: 20px;
    order: 5;
  }
}
