.menu-toggle {
  width: 79px;
  height: 79px;
  // background-color: transparent;
  border: transparent;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.menu-toggle:checked ~ .menu-none {
  display: block;
}

.menu-toggle:checked ~ .menu-checkbox::before {
  background-image: url("../img/icon-menu-close.svg");
  width: 21px;
  height: 21px;
}

@media (min-width: $tablet-width) {
  .menu-toggle {
    display: none;
  }
}
