.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ececec;
  min-height: 79px;
}

.menu__logo-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

ul.menu-none {
  display: none;
}

@media (min-width: $tablet-width) {
  .menu {
    height: 90px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100px;
    border-bottom: none;
  }

  ul.menu-none {
    display: flex;
  }

  .menu__logo-link {
    display: flex;
    padding-top: 4px;
    height: 88px;
  }

  .menu__logo-image {
    width: 112px;
    height: 46px;
  }
}

@media (min-width: $desktop-width) {
  .menu {
    width: 150px;
    order: 2;
  }

  .menu__logo-image {
    width: 149px;
    height: 72px;
  }
}
