.prod-spec {
  list-style: none;
  width: 260px;
  // padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;
  border: 1px solid #ececec;
  // margin-bottom: 30px;
  margin-top: 10px;
}

.prod-spec__title {
  font-size: 18px;
  margin-top: 27px;
  margin-bottom: -7px;
  line-height: 25px;
  padding-right: 10px;
}

.prod-spec__item-spec-size {
  font-size: 13px;
  margin-bottom: 22px;
}

.prod-spec__item-spec-price {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ececec;
  margin-right: 30px;
  position: relative;
}

.prod-spec__price {
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 28px;
  font-weight: bold;
  color: #000000;
}

.prod-spec__buy-button {
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  padding-top: 22px;
  z-index: 9999;
}

.prod-spec__buy-button svg {
  fill: #d3d2d2;
  width: 21px;
  height: 20px;
}


//планшетная версия
@media (min-width: $tablet-width) {
  .prod-spec {
    width: 334px;
    min-height: 334px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    padding-left: 27px;
  }

  .prod-spec__title {
    margin-top: 23px;
    font-size: 20px;
  }

  .prod-spec__item-spec-size {
    background-color: white;
    font-size: 15px;
  }

  .prod-spec__item-spec-price {
    margin: 0;
    padding: 0;
    border-top: 1px solid #ececec;
    margin-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .prod-spec__item-spec-size {
    margin-bottom: 5px;
  }

  .prod-info {
    display: flex;
  }

  .prod-spec {
    background-color: #ffffff;
    width: 317px;
    min-height: 199px;
    margin-top: 10px;
  }
}
