.video-info {
  background-color: white;
  border: 1px solid #ececec;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.video-info__wrapper {
  position: relative;
}

.video-info__title {
  margin-left: 80px;
  margin-top: 29px;
  margin-bottom: 26px;
  line-height: 28px;
  margin-right: 25px;

  &::before {
    content: "";
    background-image: url("../img/icon-video.svg");
    width: 32px;
    height: 22px;
    position: absolute;
    top: 15px;
    left: 30px;
  }
}

.video-info__container {
  list-style: none;
  padding-left: 0;
}

.video-info__photo {
  position: relative;
}

.video-info__text {
  padding-top: 0;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 25px;
}

.video-info__button {
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  padding-bottom: 30px;
}

.video-info__photo-image {
  display: block;
  background-color: #f1f1f1;
}

//планшетная версия
@media (min-width: $tablet-width) {
  .video-info {
    display: flex;
    flex-direction: column;
  }

  .video-info__container {
    list-style: none;
    padding-left: 40px;
  }

  .video-info__wrapper {
    order: 2;
  }

  .video-info__text {
    margin-bottom: 34px;
    padding-left: 0;
    padding-right: 40px;
    order: 3;
  }

  .video-info__button {
    order: 4;
    padding-left: 0;
    padding-right: 40px;
    padding-bottom: 40px;
  }

  .video-info__photo-image {
    width: 668px;
    height: 455px;
    display: block;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ececec;
  }

  .video-info__photo::before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .video-info__title {
    margin-bottom: 11px;
    margin-left: 57px;
    margin-right: 35px;

    &::before {
      top: 1px;
      left: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .video-info {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .video-info__photo-image {
    width: 682px;
    height: 455px;
    display: block;
  }

  .video-info__text {
    width: 280px;
    font-size: 16px;
    line-height: 30px;
    order: 2;
    padding: 0;
    margin-bottom: 51px;
  }

  .video-info__title {
    margin-left: 0;
    margin-bottom: 30px;
    padding-top: 55px;
    width: 100px;
  }

  .video-info__title::before {
    top: 8px;
    left: 0;
  }

  .video-info__container {
    list-style: none;
    padding-left: 80px;
  }

  .video-info__button {
    padding-right: 50px;
  }
}
