.button-form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-direction: column;
}

.button-form__buy {
  width: 100%;
  background-color: white;
  font-size: 15px;
  margin-bottom: 54px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.button-form__note {
  margin-top: 5px;
  margin-bottom: 26px;
  font-size: 13px;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .button-form {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .button-form__buy {
    width: 230px;
    margin-bottom: 48px;
  }

  .button-form__note {
    width: 50%;
    text-align: right;
    padding-right: 7px;
    font-size: 16px;
  }
}


@media (min-width: $desktop-width) {
  .button-form {
    width: 1150px;
    margin-left: 210px;
  }

  .button-form__note {
    padding-right: 206px;
  }
}
