// Оформление названия формы (все части формы)
.color-text {
  text-transform: uppercase;
  font-weight: 700;
  color: #63d1bb;
  font-size: 14px;
  margin-bottom: 20px;
}

.color-text__no-subtitle {
  margin-bottom: 2px;
}

@media (min-width: $tablet-width) {
  .color-text {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .color-text__type {
    margin-top: 9px;
  }

  .color-text__no-subtitle {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .color-text {
    margin-left: 60px;
    margin-top: -5px;
    margin-bottom: 20px;
  }

  .color-text__type {
    margin-top: 2px;
  }

  .color-text__no-subtitle {
    margin-bottom: 0;
  }
}
