@media (min-width: $tablet-width) {
  .comments-area {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .comments-area {
    width: 1150px;
  }
}
