.contacts-input {
  height: 44px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #000000;
  margin-bottom: 22px;
  width: 100%;
  background-color: transparent;
  font-size: 16px;
}

.contacts-input::placeholder {
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .contacts-input {
    margin-left: 20px;
    width: 377px;
    display: flex;
    margin-bottom: 30px;
    font-size: 16px;
  }

  .contacts-input--long {
    margin-left: 68px;
    width: 498px;
  }
}

@media (min-width: $desktop-width) {
  .contacts-input {
    width: 583px;
    display: flex;
  }

  .contacts-input--long {
    margin-left: 75px;
    width: 698px;
  }
}
