@media (min-width: $tablet-width) {
  .credential {
    width: 768px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 25px;
  }
}

@media (min-width: $desktop-width) {
  .credential {
    width: 1150px;
  }
}
