.form-color-input__checkbox {
  display: none;
}

.form-color-input__label {
  font-weight: 700;
  padding-bottom: 20px;
  cursor: pointer;
  margin-left: 60px;
  position: relative;
  line-height: 40px;

  &::before {
    content: "";
    width: 35px;
    height: 35px;
    border: 2px solid #444444;
    position: absolute;
    cursor: pointer;
    left: -60px;
    top: 0;
  }
}

//Делает чекбокс выдел.

.white-checkbox:checked ~ label[for="white-id"]::before,
.grey-checkbox:checked ~ label[for="grey-id"]::before,
.tiffany-checkbox:checked ~ label[for="tiffany-id"]::before,
.black-checkbox:checked ~ label[for="black-id"]::before,
.pink-checkbox:checked ~ label[for="pink-id"]::before,
.orange-checkbox:checked ~ label[for="orange-id"]::before {
  background-image: url("../img/icon-checkbox-on.svg");
  background-size: 30px 40px;
  background-repeat: no-repeat;
  background-position: center;
  border-color: #444444;
}

.white-checkbox:hover ~ label[for="white-id"]::before,
.grey-checkbox:hover ~ label[for="grey-id"]::before,
.tiffany-checkbox:hover ~ label[for="tiffany-id"]::before,
.black-checkbox:hover ~ label[for="black-id"]::before,
.pink-checkbox:hover ~ label[for="pink-id"]::before,
.orange-checkbox:hover ~ label[for="orange-id"]::before {
  border-color: #62d1ba;
}

.white-checkbox:active ~ label[for="white-id"]::before,
.grey-checkbox:active ~ label[for="grey-id"]::before,
.tiffany-checkbox:active ~ label[for="tiffany-id"]::before,
.black-checkbox:active ~ label[for="black-id"]::before,
.pink-checkbox:active ~ label[for="pink-id"]::before,
.orange-checkbox:active ~ label[for="orange-id"]::before {
  border-color: rgba(68, 68, 68, $opacity-active);
}

// .interior-radio:focus ~ label[for="interior"] {
//   color: #62d1ba;
// }
//
// .toy-radio:focus ~ label[for="toy"] {
//   color: #62d1ba;
// }


@media (min-width: $tablet-width) {
  .form-color-input {
    margin-left: 90px;
    width: 460px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .white-checkbox:checked ~ label[for="white-id"]::before,
  .grey-checkbox:checked ~ label[for="grey-id"]::before,
  .tiffany-checkbox:checked ~ label[for="tiffany-id"]::before,
  .black-checkbox:checked ~ label[for="black-id"]::before,
  .pink-checkbox:checked ~ label[for="pink-id"]::before,
  .orange-checkbox:checked ~ label[for="orange-id"]::before {
    background-size: 40px 40px;
  }

  .form-color-input__label {
    width: 150px;
    margin-bottom: 15px;
    font-size: 18px;

    &::before {
      content: "";
      width: 50px;
      height: 50px;
      left: -78px;
      top: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-color-input {
    width: 700px;
  }

  .form-color-input__label {
    width: 100px;
    margin-right: 16px;
  }
}
