.form-type-input__label {
  font-weight: 700;
  padding-bottom: 20px;
  cursor: pointer;
  padding-left: 60px;
  position: relative;
  line-height: 40px;

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 8px white, 0 0 0 14px white, 0 0 0 16px #444444;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    left: 10px;
    top: 10px;
  }

  &:hover::before {
    box-shadow: 0 0 0 8px white, 0 0 0 14px white, 0 0 0 16px #62d1ba;
  }

  &:hover:focus {
    box-shadow: 0 0 0 8px white, 0 0 0 14px white, 0 0 0 16px #62d1ba;
  }
}

@media (min-width: $tablet-width) {
  .type-form {
    display: flex;
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 28px;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .form-type-input__label {
    padding-left: 50px;
    margin-left: 100px;
    position: relative;
    line-height: 58px;
    font-size: 19px;

    &::before {

      width: 20px;
      height: 20px;
      left: -17px;
      top: 23px;
    }
  }
}


@media (min-width: $desktop-width) {
  .type-form {
    width: 1150px;
  }
}
