.form-contacts-textarea {
  border: 2px solid #000000;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  line-height: 22px;
  overflow: auto;
  resize: vertical;
  min-height: 142px;
  max-height: 400px;
  font-size: 16px;
  font-family: "Open Sans", "Arial", sans-serif;
}

.form-contacts-textarea::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .form-contacts-textarea {
    margin-left: 70px;
    width: 495px;

    &::placeholder {
      font-size: 16px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-contacts-textarea {
    margin-left: 75px;
    width: 700px;
    min-height: 140px;
    max-height: 400px;
  }

  .button-form__note {
    margin-top: 8px;
  }
}
