.tagline__text {
  font-size: 13px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .tagline {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .tagline__text {
    font-size: 16px;
    padding-right: 60px;
    line-height: 27px;
    margin-left: 0;
  }
}

@media (min-width: $tablet-width) {
  .tagline__text {
    margin-left: 10px;
  }
}
