.tagline__text {
  font-size: 13px;
  line-height: 23px;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  margin-top: -5px;
}

@media (min-width: $tablet-width) {
  .tagline {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .tagline__text {
    font-size: 17px;
    line-height: 27px;
    margin-left: 0;
  }
}


@media (min-width: $desktop-width) {
  .tagline {
    padding-left: 35px;
    padding-right: 25px;
  }
}
