//Делает радио выдел.
.toy-radio:checked ~ label[for="toy"]::before {
  box-shadow: 0 0 0 8px white, 0 0 0 14px white, 0 0 0 16px #444444;
  background-color: #62d1ba;
}


.toy-radio:hover ~ label[for="toy"]::before {
  box-shadow: 0 0 0 8px white, 0 0 0 14px white, 0 0 0 16px #62d1ba;
}

.toy-radio:active ~ label[for="toy"]::before {
  box-shadow: 0 0 0 8px white, 0 0 0 14px white, 0 0 0 16px rgba(68, 68, 68, $opacity-active);
}
