.brake-line--review {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .brake-line {
    margin: 0;
    margin-top: 53px;
    margin-bottom: 53px;

    & svg {
      width: 768px;
    }
  }
}

@media (min-width: $desktop-width) {
  .brake-line svg {
    width: 1050px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .brake-line--review svg {
    margin-top: 0;
  }
}
