.catalog {
  background-color: white;
  width:100%;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.catalog__title {
  display: flex;
  background-color: #f1f1f1;
  padding-top: 70px;
  padding-bottom: 70px;
  width: 100%;
  margin: 0px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  position: relative;
}

.prod-info {
  margin: 0px;
  list-style: none;
  padding: 0px;
}

.prod-spec{
  list-style: none;
  width: 260px;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;
  border: 1px solid #ececec;
  margin-bottom: 30px;
}

.prod-info__photo-image {
  margin-bottom: -10px;
  border-bottom: 1px solid #ececec;
}

.prod-spec__title {
  font-size: 18px;
  margin-top: 27px;
  line-height: 25px;
}

.prod-spec__item-spec-size {
  font-size: 13px;
  margin-bottom: 17px;
}

.prod-spec__item-spec-price {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ececec;
}

.prod-spec__price {
  padding-top: 25px;
  font-weight: bold;
  color: #000000;
}

.prod-spec__buy-button{
  width: 20px;
  height: 19px;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 9999;
}

.prod-info__photo-image {
  display: block;
  background-color: #f1f1f1;
}

@media (min-width: $tablet-width) {
.catalog {
  width: 100%;
  height: 100%;
}

.prod-info {
  display: flex;
  width: 768px;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  flex-wrap: wrap;
}



.prod-info__photo {
  display: flex;

  width: 670px;
}

.prod-info__photo-image {
  width: 334px;
  height: 334px;
  display: block;
  background-color: #f1f1f1;
  border-bottom: none;
  border-right: 1px solid #ececec;


}

.prod-spec {
  width: 334px;
  height: 334px;
  margin-bottom: 54px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalog__title {
  padding-top: 180px;
  font-size: 43px;
  line-height: 50px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 70px;

  &::after {
    content: "";
    background-image:url("../img/bg-zigzag-fill.svg");
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 0px;
  }
}

.prod-spec__item-spec-size {
  background-color: white;
}
.prod-spec__item-spec-price {
  margin: 0px;
  padding: 0px;
  border-top: 1px solid #ececec;
  }
}
