.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cta-button {
  border: 2px solid #444444;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.7px;
  display: block;
  text-align: center;
  padding-top: 11.5px;
  padding-bottom: 11.5px;
  cursor: pointer;
}

.h1-title {
  font-size: 27px;
  line-height: 30px;
  color: #010000;
}

.h2-title {
  font-size: 25px;
  line-height: 30px;
  color: #010000;
}

.h3-title {
  font-size: 20px;
  line-height: 32px;
  color: #010000;
}

.page {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #444444;
  background-color: white;
  margin: 0;
  padding: 0;
  z-index: 9999;
}

.brake-line {
  margin-bottom: 24px;
  margin-top: 24px;

  & svg {
    width: 320px;
  }
}

.display-none {
  display: none;
}


@keyframes transform {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5px);
  }
}

@keyframes scale {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.2);
  }
}
