
.main-header {
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
}


.main-header__wrapper {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: nowrap;
  width: 100%;
}

.main-menu-wrapper {

  // padding-left: 30px;
  // padding-right: 30px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;

}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-functional {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.sub-menu {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.sub-menu__item {
  width: 100%;
  padding-left: 79px;
  box-sizing: border-box;
}

.menu-search-cart__item {
  width: 100%;
  padding-left: 79px;
  box-sizing: border-box;
}

.sub-menu__item-link {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
}

.menu-search-cart {
  display: flex;
  width:100%;
  flex-wrap: wrap;
}

.menu-search-cart__item,
.sub-menu__item {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
  position: relative;
}





.sub-menu__item-link--cart-icon::before {
  content: "";
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 79px;
  height: 79px;
  top: 0px;
  left: 0px;
}

.sub-menu__item-link--search-icon::before {
  content: "";
  background-image: url("../img/icon-search.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 79px;
  height: 79px;
  top: 0px;
  left: 0px;
}

.sub-menu__ad {
  display: none;
}

.sub-menu__item:first-of-type {
  border-top: 1px solid #ececec;
}



//Фальшивый эдемент для центровки
.menu__false {
  width: 79px;
  height: 79px;
}

.menu__toggle {
  width: 79px;
  height: 79px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
.main-header {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ececec;
  z-index: 999999;
  margin: 0px;
  padding: 0px;
}

.main-menu-wrapper {
  width: 768px;
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing:border-box;
}

.menu {
  height: 79px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100px;
}

.menu-functional {
  margin-top:15px;
  width: 100%;
  justify-content: space-between;
  order: 2;
  padding: 0px;
}

.menu__sub-menu {
  order: 1;
}

.sub-menu__item-link {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
}

.menu-search-cart {
  width: 200px;
  position: relative;
  margin: 0px;
  padding: 0px;
}

.menu-search-cart__item {
  position: relative;
}

.menu-search-cart__item:last-child {
  padding-right: 0px;
}

.menu-search-cart__item,
.sub-menu__item {
  padding: 0px;
}

.sub-menu__item-link--cart-icon::before {
  width:21px;
  height: 19px;
  top: 0px;
  left: -45px;
}


.sub-menu__item-link--search-icon::before {
  top: -27px;
  left: -150px;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}

.sub-menu__item:first-of-type {
  border-top: none;
}

.sub-menu__item,
.menu-search-cart__item {
  width: auto;
  padding-left: 0px;
  border-bottom: none;
}

.sub-menu__item-text {
  display: none;
}

.menu__toggle,
.menu__false {
  display: none;
}

.sub-menu {
  display: flex;

  }

  .sub-menu__ad {
    display: block;
    padding-left: 60px;
  }
}
